.table{
    margin:0px 90px;
    text-align: center;
    background-color: #F08A79; 
    border: 2px solid rgb(80, 80, 80);
}
table,th,tr{
    border-collapse: collapse;
} 
table th{
    height:45px;
    width:100px;
    background-color:#C7AFF3;
    border:0.5px solid; 
} 
table tr{
    height:45px ;
    width: 100px;
    background-color:#F1D0F2;
    border: 0.5px solid;
}
table td{
    border: 0.5px solid;
}
nav{
    background-color: rgb(243, 243, 6);
    text-align:center;
}
nav li{
    list-style-type: none;
    display: inline-block;         
}
nav li a{
    display: block;
    text-decoration: none;
    padding: 10px;
    color: black;
}
nav li a:hover{
    background-color:lightyellow;
    color: red;
}
header{
    height: 270px;
    background-color: #85D9F2;
}
aside{
    height: 450px;
    background-color: #8BFCF9;
    width: 50%;
    float: left;
}
section{
    height: 450px;
    background-color: #8BE6C9;
    width: 50%;
    float: left;
}
footer{
    height: 760px;
    background-color: #8BFCB8;
    clear: both;
}